<template>
  <div class="menu">
    <router-link v-for="(item, index) of items" :key="index" :to="item.link" class="menu__link">{{
      item.title
    }}</router-link>
  </div>
</template>

<script>
import { defineComponent, reactive } from 'vue';
import { useI18n } from 'vue-i18n';
import pageNames from '@/router/pageNames';

export default defineComponent({
  name: 'Menu',

  setup() {
    const { t } = useI18n();
    const items = reactive([
      {
        title: t('about'),
        link: { name: pageNames.ABOUT_ME },
      },
      {
        title: t('projects'),
        link: { name: pageNames.MY_PROJECTS },
      },
      {
        title: t('contacts'),
        link: { name: pageNames.CONTACTS },
      },
    ]);

    return { items };
  },
});
</script>

<style lang="scss" scoped>
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $size-md;
  color: $color-default;

  &__link {
    position: relative;
    transition: color 0.3s;

    &:hover,
    &.router-link-exact-active {
      color: $color-red;
    }
    &:not(&:last-child) {
      margin-right: 20px;
    }

    &.router-link-exact-active {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: -10px;
        border-radius: 50%;
        background-color: $color-red;
      }
    }
  }
}
</style>
