<template>
  <header class="header">
    <div>LOGO</div>
    <Menu class="header__menu" />
    <div>lang</div>
  </header>
</template>

<script>
import { defineComponent } from 'vue';

import Menu from '@/components/layout/header/components/Menu';

export default defineComponent({
  name: 'Header',

  components: { Menu },
});
</script>

<style lang="scss" scoped>
// TODO set color default for body
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
</style>
