html {
  font-size: 100%;
}

body {
  color: $color-default;
  font-weight: 500;
  font-size: $size-sm;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}