// colors
$color-red: #B73225;
$color-blue: #004E7C;
$color-brown: #591C0B;
$color-grey-dark: #5C5F58;
$color-grey-light: #DCE1E3;
$color-default: #2F2F2F;

//font sizes
$size-xs: 1rem;
$size-sm: 1.2rem;
$size-md: 1.4rem;
$size-lg: 1.6rem;
$size-xl: 1.8rem;