.route-enter-active,
.route-leave-active {
  transition: all 0.2s ease-out;
}
.route-enter-from {
  opacity: 0;
  transform: translateX(100px);
}
.route-leave-to {
  opacity: 0;
  transform: translateX(-100px);
}