<template>
  <div class="default-layout">
    <div class="default-layout__content">
      <Header />

      <transition name="route" mode="out-in">
        <router-view></router-view>
      </transition>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import Header from '@/components/layout/header/Header.vue';

export default defineComponent({
  name: 'Default',

  components: { Header },
});
</script>

<style lang="scss" scoped>
.default-layout {
  width: 100vw;
  height: 100vh;
  background-color: $color-grey-light;

  &__content {
    max-width: 90%;
    margin: auto;
  }
}
</style>
